<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Добавление статьи</h1>
    <form action="/message/add" method="post">
        <input type="text" name="text" placeholder="Введите название статьи" class="from-control"><br>
        <input type="text" name="tag" placeholder="Введите анонас статьи" class="from-control"><br>
        <input type="text" name="tag2" placeholder="Введите анонас2 статьи" class="from-control"><br>
        <button type="submit" clas="btn btn-success" class="btn btn-warning">Добавить статью</button>
    </form>
</div>


<div th:insert="blocks/footer :: footer"></div>


</body>
</html>